In [65]:
import string
letras = string.ascii_letters
with open("nombres_1.txt",encoding="utf8") as file_object:
    nombres = file_object.read().split(",\n")
    for c in range(len(nombres)):
        for d in nombres[c]:
            if d not in letras:
                nombres[c]=nombres[c].replace(d,"") 
    print(nombres)

['Agustin', 'Alan', 'Andrs', 'Ariadna', 'Bautista', 'CAROLINA', 'CESAR', 'David', 'Diego', 'Dolores', 'DYLAN', 'ELIANA', 'Emanuel', 'Fabin', 'Facundo', 'Facundo', 'FEDERICO', 'FEDERICO', 'GONZALO', 'Gregorio', 'Ignacio', 'Jonathan', 'Jonathan', 'Jorge', 'JOSE', 'JUAN', 'Juan', 'Juan', 'Julian', 'Julieta', 'LAUTARO', 'Leonel', 'LUIS', 'Luis', 'Marcos', 'Mara', 'MATEO', 'Matias', 'Nicols', 'NICOLS', 'Noelia', 'Pablo', 'Priscila', 'TOMAS', 'Toms', 'Ulises', 'Yanina']

### En este primer caso, abro el archivo nombre de tipo texto y evaluo dentro de cada posicion del string para eliminar todo contenido que no sea compatible con una letra.

In [52]:
with open("eval1.txt", encoding="utf8") as file_evaluaciones1:
    evaluacion_1 = file_evaluaciones1.read().split(',\n')
    for c in range(len(evaluacion_1)):
        for d in evaluacion_1[c]:
            if d not in string.digits:
                evaluacion_1[c]=evaluacion_1[c].replace(d,"")
        evaluacion_1[c]=int(evaluacion_1[c])
    print(evaluacion_1)

[81, 60, 72, 24, 15, 91, 12, 70, 29, 42, 16, 3, 35, 67, 10, 57, 11, 69, 12, 77, 13, 86, 48, 65, 51, 41, 87, 43, 10, 87, 91, 15, 44, 85, 73, 37, 42, 95, 18, 7, 74, 60, 9, 65, 93, 63, 74]

### En este segundo caso hago de manera muy similar a como realice con los nombres, solo que evaluo por cada posicion para dejar los numeros y convertir dichos numeros para la lista

In [54]:
with open("eval2.txt", encoding="utf8") as file_evaluaciones2:
    evaluacion_2 = file_evaluaciones2.read().split(',\n')
    for c in range(len(evaluacion_2)):
        for d in evaluacion_2[c]:
            if d not in string.digits:
                evaluacion_2[c]=evaluacion_2[c].replace(d,"")
        evaluacion_2[c]=int(evaluacion_2[c])
    print(evaluacion_2)

[30, 95, 28, 84, 84, 43, 66, 51, 4, 11, 58, 10, 13, 34, 96, 71, 86, 37, 64, 13, 8, 87, 14, 14, 49, 27, 55, 69, 77, 59, 57, 40, 96, 24, 30, 73, 95, 19, 47, 15, 31, 39, 15, 74, 33, 57, 10]

### En este tercer caso hago lo mismo que en el segundo caso

In [55]:
suma_de_notas=list(map(lambda x,y: x + y, evaluacion_1, evaluacion_2))
print(suma_de_notas)

[111, 155, 100, 108, 99, 134, 78, 121, 33, 53, 74, 13, 48, 101, 106, 128, 97, 106, 76, 90, 21, 173, 62, 79, 100, 68, 142, 112, 87, 146, 148, 55, 140, 109, 103, 110, 137, 114, 65, 22, 105, 99, 24, 139, 126, 120, 84]

### En este cuarto caso genero una lista nueva de suma de notas utilizando la funcion map

In [69]:
diccionario = {}
for i in range(len(nombres)):
    nombre=nombres[i]
    nota=suma_de_notas[i]
    diccionario[nombre]=nota
print(diccionario)

{'Agustin': 111, 'Alan': 155, 'Andrs': 100, 'Ariadna': 108, 'Bautista': 99, 'CAROLINA': 134, 'CESAR': 78, 'David': 121, 'Diego': 33, 'Dolores': 53, 'DYLAN': 74, 'ELIANA': 13, 'Emanuel': 48, 'Fabin': 101, 'Facundo': 128, 'FEDERICO': 106, 'GONZALO': 76, 'Gregorio': 90, 'Ignacio': 21, 'Jonathan': 62, 'Jorge': 79, 'JOSE': 100, 'JUAN': 68, 'Juan': 112, 'Julian': 87, 'Julieta': 146, 'LAUTARO': 148, 'Leonel': 55, 'LUIS': 140, 'Luis': 109, 'Marcos': 103, 'Mara': 110, 'MATEO': 137, 'Matias': 114, 'Nicols': 65, 'NICOLS': 22, 'Noelia': 105, 'Pablo': 99, 'Priscila': 24, 'TOMAS': 139, 'Toms': 126, 'Ulises': 120, 'Yanina': 84}

### En este quinto caso recorri la lista de nombres (con mismo rango que la de notas) para ir agregando los datos de manera secuencial al diccionario

In [71]:
notatotal=0
promedio=0
for r in diccionario:
    notatotal+=diccionario[r] 
promedio=notatotal/len(diccionario)
print(promedio)

93.09302325581395

### En este sexto caso recorro el diccionario y voy sumando a una variable total las notas, para luego sacar el promedio,y dividir las notas totales por el rango (cantidad de alumnos)

In [75]:
for x in diccionario:
    if (diccionario[x] < promedio): 
        print(f"(Nombre: {x}) Nota: {diccionario[x]}")

(Nombre: CESAR) Nota: 78
(Nombre: Diego) Nota: 33
(Nombre: Dolores) Nota: 53
(Nombre: DYLAN) Nota: 74
(Nombre: ELIANA) Nota: 13
(Nombre: Emanuel) Nota: 48
(Nombre: GONZALO) Nota: 76
(Nombre: Gregorio) Nota: 90
(Nombre: Ignacio) Nota: 21
(Nombre: Jonathan) Nota: 62
(Nombre: Jorge) Nota: 79
(Nombre: JUAN) Nota: 68
(Nombre: Julian) Nota: 87
(Nombre: Leonel) Nota: 55
(Nombre: Nicols) Nota: 65
(Nombre: NICOLS) Nota: 22
(Nombre: Priscila) Nota: 24
(Nombre: Yanina) Nota: 84

### En este ultimo caso, recorro nuevamente el diccionario para informar los alumnos que tienen nota menor al promedio